version: "3.9"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3030:3030"
    environment:
      - GF_SERVER_HTTP_PORT=3030
    networks:
      - monitoring

networks:
  monitoring:

volumes:
  grafana_data:
