services:
  jenkins:
    build: .
    container_name: jenkins
    user: root
    group_add:
      - "${DOCKER_GID}"
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Asia/Jakarta

volumes:
  jenkins_home:
