services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root_password
      POSTGRES_DB: appdb
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  pgdata:
